In [1]:
# Methods
#append(): Adds an element at the end of the list
#clear(): Removes all the elements from the list
#copy(): Returns a copy of the list
#count(): Returns the number of elements with the specified value
#extend(): Add the elements of a list (or any iterable), to the end of the current list
#index(): Returns the index of the first element with the specified value
#insert(): Adds an element at the specified position
#pop(): Removes the element at the specified position
#remove(): Removes the item with the specified value
#reverse(): Reverses the order of the list
#sort(): Sorts the list

In [2]:
fruits = ['watermelon', 'chiku', 'strawberry'] #a list with fruits
#A list is used to store items in a single variable
#Lists are represented with the help of square brackets []
#Lists are mutable i.e., they can be altered

In [3]:
fruits_1 = ('watermelon', 'chiku', 'strawberry') #a tuple with fruits
#A tuple is used to store a sequence of values belonging to any data type
#Tuples are represented with parenthesis ()
#Tuples are immutable i.e., they can't be altered

In [4]:
fruits[0] = 'orange' #the fruit in the index 0 from the fruits list

In [5]:
fruits_1[0] = 'orange' 
#this code will throw a eror called TypeError because tuples can't be altered so its value can't be changed by using the index

TypeError: 'tuple' object does not support item assignment

In [6]:
fruits

['orange', 'chiku', 'strawberry']

In [7]:
fruits_1

('watermelon', 'chiku', 'strawberry')

In [8]:
fruits_2 = ('apple',)

In [9]:
type(fruits_2)

tuple

In [10]:
#tuple - strings, integers and booleans

In [11]:
mytuple = tuple('watermelon', 'chiku', 'strawberry')
#this will throw TypeError because only 1 argument should exist for it to be changed into a tuple but here are 3 arguments

TypeError: tuple expected at most 1 argument, got 3

In [12]:
mytuple = tuple(('watermelon', 'chiku', 'strawberry')) #creating a nested tuple

In [13]:
type(mytuple) #finding the type of this tuple

tuple

In [14]:
owntuple = tuple(('watermelon', 'chiku', 'strawberry'),('watermelon1','chiku1','strawberry1'))
#this will also throw TypeError because there are 2 arguments and not just 1

TypeError: tuple expected at most 1 argument, got 2

In [15]:
#Indexing of lists and tuples
fruits[0] #calling the 0th index of the list 'fruits'

'orange'

In [16]:
fruits_1[-1] #calling the -1th index of the tuple 'fruits_1'

'strawberry'

In [17]:
fruits_1[-2] #calling the -2th index of the tuple 'fruits_1'

'chiku'

In [18]:
#Indexing of lists and tuples within a given range
fruits[1:3] #calling the index value of the element which is in the 2nd and 3rd index of the list 'fruits'

['chiku', 'strawberry']

In [19]:
fruits_1[0:3] #calling the index of the fruits which are in the positions 0,1,2

('watermelon', 'chiku', 'strawberry')

In [20]:
fruits[1:] #calling the index of the fruits which starts from the 1st index until the end

['chiku', 'strawberry']

In [21]:
emotions = ("happy", "sad", "angry", "scared", "blue", "disgusted") #creating an emotions tuple

In [22]:
emotions[2:] #calling the emotions which start from the index value 2 onwards

('angry', 'scared', 'blue', 'disgusted')

In [23]:
if 'blue' in emotions: #using 'if' condition, if the emotion "blue" exists in the tuple emotions
    print(f"Blue is in the tuple emotions") #printing the statement accordingly

Blue is in the tuple emotions

In [24]:
tuhpill = ('watermelon', 'chiku', 'strawberry') #creating an tuple with fruit names

In [25]:
lisht = list(tuhpill) #converting the tuple into a list

In [26]:
lisht[0] = 'mango' #iniriating the 0th index of the fruits list to be a fruit

In [27]:
tuhpill = tuple(lisht) #re-converting the list into a tuple

In [28]:
tuhpill #printing 'tuhpil'

('mango', 'chiku', 'strawberry')

In [29]:
tuhpill_2 = emotions + tuhpill #creating another tuple by adding 2 tuples

In [30]:
tuhpill_2 #printing the new tuple

('happy',
 'sad',
 'angry',
 'scared',
 'blue',
 'disgusted',
 'mango',
 'chiku',
 'strawberry')

In [31]:
#Sets
#Sets are also represented within curly brackets {}
#Sets are an unordered collection of uniques elements
#Sets will not contain duplicate values
#built-in methods of sets are: add(), remove(), and union()

In [32]:
ms = {1,2,3,4,5} #creating a set

In [33]:
ms #calling the tuple

{1, 2, 3, 4, 5}

In [34]:
ms = {1, 'wee', (3,4,5)} #creating another set

In [35]:
ms #calling the set

{(3, 4, 5), 1, 'wee'}

In [36]:
type(ms[2])
#this will throw a TypeError because an element of a set can not be scripted

TypeError: 'set' object is not subscriptable

In [37]:
ms.add(6) #adding an element onto the set

In [38]:
ms #calling the set again

{(3, 4, 5), 1, 6, 'wee'}

In [39]:
ms_1 = {4,5,6,7} #creating a new set

In [40]:
ms_2 = ms.union(ms_1) #creating another set that is the union of 2 sets

In [41]:
ms_2 #calling the above set

{(3, 4, 5), 1, 4, 5, 6, 7, 'wee'}

In [42]:
#creating 2 sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [43]:
set3 = set1.intersection(set2) #creating another set which is the intersection of the above 2 sets
print(set3) #printing the 3rd set

{3}

In [44]:
set4 = set1.difference(set2) #finding the difference of 2 sets and making it our 4th set

In [45]:
set4 #calling the 4th set

{1, 2}

In [46]:
set5 = set2.difference(set1) #finding the difference of 2 sets in reverse order and making it our new set

In [47]:
set5 #calling this set

{4, 5}

In [48]:
mylisht = [1, 2, 3, 3, 4, 5] #creating a list of numbers
myset = set(mylisht) #converting the list into a set
uniquelist = list(myset) #re-converting the list into a set
print(uniquelist) #printing the list

[1, 2, 3, 4, 5]

In [49]:
mylisht #calling the list

[1, 2, 3, 3, 4, 5]

In [50]:
myset #calling the tuple

{1, 2, 3, 4, 5}