In [1]:
print(f"Bonsoir") #printing a statement

Bonsoir

In [2]:
if 14>12: #indendation
    print(f"Fourteen is grater than 12") #printing a statement with regards to the condition
    
#an indendation is very importatnt for a code containing loops
#an indendation is considered as 4 blank spaces

Fourteen is grater than 12

In [3]:
if 12<14: #without indendation an error will occur
print(f"Twelve is lesser than 14")

IndentationError: expected an indented block after 'if' statement on line 1 (3532434382.py, line 2)

In [4]:
#printing two statements
print(f'Ohayo!')
print(f'Welcome back Radhika.')

Ohayo!
Welcome back Radhika.

In [5]:
'''print(f'Ohayo')''' #commented statement
#these three single quotes will comment the ones in between them until its closed with three single quotes again
#instead of three single quotes even three double quotes can be used
print(f'Welcome back Radhika.') #printing another statement
#so here, in this code only the above line will be printed

Welcome back Radhika.

In [6]:
x = 'Alo' #assigning a string to a variable
type(x) #finding out the type of the variable 'x'

str

In [7]:
z = str(420) #converting the integer into string using str()
type(z) #finding out the type of the variable 'z'

str

In [8]:
x #calling x

'Alo'

In [9]:
z #calling z

'420'

In [10]:
w #calling w, but the name isn't defined
#w shows a NameErrror as it isn't defined

NameError: name 'w' is not defined

In [11]:
#assigning string values to 3 variables - a,b,c
a = '987'
b = '654'
c = '321'

In [12]:
p,q,r = a,b,c #intialising that p,q,r have the same values as a,b,c

In [13]:
p,q,r = a,b,c
#assigning new variables and giving them values of existing variables
#here, we are assigning p,q,r as new variables and giving them the values of the three existing variable a,b,c

In [14]:
p #calling p

'987'

In [15]:
q #calling q

'654'

In [16]:
r #calling r

'321'

In [17]:
w,x,y = d,e,f #intialising that w,x,y have the same values as d,e,f
#this will throw a NameError because d,e,f aren't defined

NameError: name 'd' is not defined

In [18]:
mywish = 'Radhika' #a variable used in the program below as a global variable
#A global variable is a variable defined outside a function defenition and used throught the entire program

In [19]:
#defining a function
def greet(): #this is a function defenition
#def is known as the function keyword
    print(f'Good evening '+ mywish) #prinitng a statement
greet() #this is called calling a function
#the calling of a function maybe called inside or outside the function definition depending on its purpose

Good evening Radhika

In [20]:
#Data Types
a = 'blue' #initialising a variable with string value
b = 123 #initialising a variable with integer value
c = [4,0,9] #initialising a list with numbers
d = {'Name':'Radhika'} #creating a dictionary with a single key-value pair
e = {'2','4','6'} #creating a set
f = 38 + 7j #initialising a variable with complexity
print(type(a)) #printing the type of each variable
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'complex'>

In [21]:
#Booleans
#checking for the boolean condition to be True or False
print(19>87)
print(89==2)
print(4<90)

False
False
True

In [22]:
n1 = int(input()) #asking the user for an integer input
n2 = int(input()) #asking the user for an integer input
if n2>n1: #using 'if' condition, checking if n2 is greater than n1
    print(n2, f'is greater than', n1) #printing a statement accordingly
else: #if the 'if' condition isn't satisfied then
    print(n2, f'is not greater than', n1) #printing another statement

23
34
34 is greater than 23

In [23]:
#Arithmetic Operators
#Addition +
#SUbtraction -
#Multiplication *
#Division /
#Exponent **
#Modulus %
#Floor division //

In [24]:
5/2 #gives us the exact quotient

2.5

In [25]:
5%2 #gives us the remainder

1

In [26]:
5//2 #gives us the quotient as whole number

2

In [27]:
s = 1 #initialising a variable with an integer value

In [28]:
s #printing the variable 's'

1

In [29]:
s += 2
#this means s = 1+2, from the above given value of 's'

In [30]:
s #printing the value of the variable 's' now will give us a new value i.e., 3 in this case

3

In [31]:
w =+ 4

In [32]:
w

4

In [33]:
w -= 1
#this means w = 4-1

In [34]:
w #printing the value of the variable 'w' now will give us a new value i.e., 3 in this case

3

In [35]:
#Looping of lists
fruits = ['watermelon','chiku','strawberry'] #creating a list with fruit names

In [36]:
for i in fruits: #using for loop, for every fruit in the 'fruits' list
    print(i) #printing each fruit

watermelon
chiku
strawberry

In [37]:
for i in range(len(fruits)): #using for loop, for every fruit in the length of the 'fruits' list
    print(fruits[i]) #printing the fruit from each index

watermelon
chiku
strawberry

In [38]:
fruits[0] #the fruit from the 'fruits' list which is in the index 0

'watermelon'

In [39]:
new_fruit = 'mango' #intiating a variable with a new fruit name
for i in fruits: #using for loop, for each fruit in the 'fruits' list
#append() method will append an element onto the end of a list
    fruits.append(new_fruit) #so appending the new fruit 'mango' onto the fruits list
#so now if we print fruits it will show us the list along with the fruit mango
    break #using break statement to break the 'for' loop ABRUPTLY
fruits  #printing the fruits list

['watermelon', 'chiku', 'strawberry', 'mango']